[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest-bdd = "*"
pytest = "*"
requests-pkcs12 = "*"
requests = "*"
grpcio = "*"
beautifulsoup4 = "*"
allure-pytest-bdd = "*"
allure-python-commons = "*"
grpcio-tools = "*"
protobuf = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
sqlalchemy = "*"
python-dateutil = "*"
psycopg2 = "*"
signalrcore = "*"

[dev-packages]

[requires]
python_version = "*"
